/* GLOBAL */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100vw;
}

.theme {
  --one: #ffffff;
  --two: #C5CCB7;
  --three: #F6EDD9;
  --four: #D1C8B5;
  --five: #B0633B;
  --six: #555555;
  --seven: #9A9280; /* hover */
}

h1 {
  font-size: 3rem;
}

h2 {
  font-family: 'Italiana', serif;
  letter-spacing: .2rem;
  color: var(--six);
}

h2 a {
  font-family: 'Italiana', serif;
  letter-spacing: .2rem;
  color: var(--six);
  text-decoration: none;
}

h2 a:hover {
  font-family: 'Italiana', serif;
  letter-spacing: .2rem;
  color: var(--seven);
  text-decoration: none;
}

h2 a::after {
  font-family: 'Italiana', serif;
  letter-spacing: .2rem;
  color: red;
  text-decoration: none;
}

h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  color: var(--six)
}

p {
  color: var(--six);
  font-family: 'Quicksand', serif;
  font-size: 1.25rem;
}

p a {
  color: var(--six);
  font-family: 'Quicksand', serif;
  font-size: 1.25rem;
  text-decoration: none;
}

p a:hover {
  color: var(--seven);
  font-family: 'Quicksand', serif;
  font-size: 1.25rem;
}

.flex-container {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    justify-content: space-evenly;
  justify-content: space-between;
}

.section {
  height: auto;
  background-color: transparent;
  margin: 0;
  padding: 3rem;
}

hr {
border: 1px solid var(--seven);
width: 70%;
}

/* HEADER */

.header {
  height: 5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: auto;
  background-color: var(--three);
  color: var(--four);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 30;
}


.logo {
  display: inline;
  padding: 0.3rem 2rem;
}

h1 a {
  color: var(--four);
  text-decoration: none;
}

h1 a:hover {
  color: var(--seven);
}

.logo:hover {
  color: var(--seven);
}

nav {
  align-self: flex-end;
  float: right;
}

ul {
  list-style-type: none;
  display: inline;
  padding: 2rem;
}

li {
  display: inline;
  padding: 0 1rem;
}

li a {
  color: var(--four);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

li a:hover {
  color: var(--seven);
  font-weight: bolder;
}

/* FOOTER */

.footer {
  height: auto;
  background-color: var(--one);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2rem;
}

.social {
  display: inline;
  align-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: auto;
}

.social p {
  color: var(--six);
  font-family: 'Quicksand', serif;
  font-size: 1rem;
}

.footer i {
  padding: 2rem;
  font-size: 2rem;
    color: var(--six);
}

.footer i:hover {
  padding: 2rem;
  font-size: 2rem;
    color: var(--seven);
}

.footer p {
  color: var(--six);
  font-family: 'Quicksand', serif;
  font-size: 1rem;
  padding: 2rem;
}

/* HOME PAGE */

.box {
  border-style: none;
  border-width: 3px;
  border-color: var(--four);
  padding: 1rem;
  display: inline;
  flex: 0 0 55%;
  margin: 2rem 1rem;
  border-radius: 5px;
}

.box:hover {
  box-shadow: 0px 0px var(--three);
}

.pic-1 {
  margin: 2rem 1rem;
  height: auto;
  display: inline;
  flex: auto;
  justify-content: flex-end;
  background-image: url("moodboard.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.pic-1:hover {
  transform: scale(1.03);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.ux a {
  font-family: 'Italiana', sans-serif;
  color: var(--six);
  text-decoration: none;
}

.ux a:hover {
  font-family: 'Italiana', sans-serif;
  color: var(--five);
  text-decoration: none;
}

.pic-2 {
  margin: 2rem 1rem;
  height: auto;
  display: inline;
  flex: auto;
  justify-content: flex-end;
  background-image: url("segno.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.pic-2:hover {
  transform: scale(1.03);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.pic-3 {
  margin: 2rem 1rem;
  height: auto;
  display: inline;
  flex: auto;
  justify-content: flex-end;
  background-image: url("traqua.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.pic-3:hover {
  transform: scale(1.03);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.ux-2 {
text-align: right;
}

.web-dev {}

.web-dev p {
  display: inline;

}
.web-dev h3 {
  display: inline;
}

.web-dev a {
  font-family: 'Quicksand', sans-serif;
  color: var(--six);
  text-decoration: none;
}

.web-dev a:hover {
  font-family: 'Quicksand', sans-serif;
  color: var(--seven);
  text-decoration: none;
}

/* ABOUT PAGE */

.about {
  border-style: none;
  border-width: 2px;
  border-color: var(--four);
  padding: 3rem 2rem;
  margin: 3rem 2rem;
  justify-content: space-between;
}

.artist {
  padding: 0;
  margin: 0;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.artist h3 {
  margin: 0;
}

.artist p {
  margin: 0;
}

.about p {
  font-family: 'Quicksand';
  line-height: 1.5;
}

.collab {
  padding: 2rem 0;
}

.skills {
  margin: 0;
  padding: 0;
  align-self: flex-start;
}

.character {
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.self-portrait {
  width: 35vw;
  background-image: url("4.21.2018-42.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1rem 1rem var(--four);
}

.tools {
  padding: 2rem;
  margin: 2rem;
}

.tool {
  padding: 0 3rem;
}

.learning h3 {
  display: inline;
}
.learning p {
  display: inline;
}

/* GLASS HALF FULL PAGE */

.wine {
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.intro {
  justify-content: center;
  text-align: center;
  align-self: center;
}
